// --------------------------------------------------
// Helper classes
// --------------------------------------------------

// Position

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

// Z-index register

%z-1 {
	z-index: 1;
}

%z-2 {
	z-index: 2;
}

%z-3 {
	z-index: 3;
}

%z-4 {
	z-index: 4;
}

%z-5 {
	z-index: 5;
}

// Floated Elements
// -------------------------

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.cf {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// Display Values
// -------------------------

.inline {
	display: inline;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

// Typography
// -------------------------


// Aligning Elements
// -------------------------

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

// Border radius
// -------------------------

// Colors
// -------------------------

.white {
	&.white {
		color: #fff;
	}
}

.black {
	&.black {
		color: #000;
	}
}

.prime {
	&.prime {
		color: $prime;
	}
}

.second {
	&.second {
		color: $second;
	}
}

.third {
	&.third {
		color: $third;
	}
}

// Background Colors
// -------------------------

.bg-white {
	&.bg-white {
		background-color: #fff;
	}
}

.bg-prime {
	&.bg-prime {
		background-color: $prime;
	}
}

.bg-second {
	&.bg-second {
		background-color: $second;
	}
}

.bg-third {
	&.bg-third {
		background-color: $third;
	}
}

.bg-gray {
	&.bg-gray {
		background-color: $pampas;
	}
}

// Visibility
// -------------------------

// Cursor
// -------------------------

.pointer {
	cursor: pointer;
}
