// --------------------------------------------------
// Layout
// --------------------------------------------------

// Layout rules
// -------------------------

.container {
	max-width: $mainContainer;
	padding: $containerVerIndent $containerHorIndent;
	margin: 0 auto;
}

