// --------------------------------------------------
// TM Typography
// --------------------------------------------------

// Body reset
// --------------------------------------------------

html {
	font-size: 10px; // static
	}

body {
	color: $colorText;
	margin: 0;
}


// Links
// -------------------------

a,
.link {
	text-decoration: none;
	color: $colorLink;

	&:hover,
	&:focus {

		text-decoration: underline;
	}
}

// Images
// -------------------------

img {
	vertical-align: middle;
}

// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
	font-size: 1.8rem;
	color: $colorText;
}

// Headings
// -------------------------

.h1,
.h2,
.h2,
.h3,
.h4,
.h5,
.h6{
	color: $colorText;
}

.h1 {
	font-size: 4.8rem;
}
.h2 {
	font-size: 3.6rem;
}
.h3 {
	font-size: 2.4rem;
}
.h4 {
	font-size: 2.2rem;
}
.h5 {
	font-size: 1.4rem;
}
.h6 {
	font-size: 1.4rem;
}

.quote {
	font-size: 2.2rem;
	color: $colorText;
}

.small-text {
	font-size: 1.6rem;
}