// --------------------------------------------------
// Variables Global
// --------------------------------------------------

// Colors
// -------------------------

// Greens
$shadeGreen: 			#296e44;
$green: 					#3a9c61;
$tintGreen: 			#75ba90;
$pastelGreen: 		#d8ebdf;

// Blues

// Grays
$black:						#000;
$mineShaft:				#333;
$shark:						#1d1f20;
$darkGray:				#241e18;
$shadeGray: 			#191511;
$tintGray: 				#65615d;
$pastelGray: 			#d3d2d1;
$corduroy:				#5b5c5c;
$gray:						#848484;
$silverChalice:		#ababab;
$alto:						#d6d6d6;
$mercury:					#e6e6e6;
$seashell:				#f1f0f0;
$concrete:				#f3f3f3;
$concreteLight:		#f3f5f8;
$blackHaze:				#fafbfb;
$silver:					#c8c8c8;
$white:						#fff;
$alabaster:				#f9f9f9;
$gallery:					#ececec;
$manatee:					#929aa6;
$iron:						#cacdd1;
$pampas:					#f2f0e9; // brand background gray color
$cloud:						#c2c0ba; // shade
$lightPampas:			#f6f4f0; // tint
$lightCloud:			#f8f7f4; // pastel

// Yellows
$shadeYellow: 		#a46412;
$yellow: 					#e98e19;
$tintYellow: 			#f0b05e;
$pastelYellow: 		#fbe8d1;

// Reds

// Brand Colors
$prime: 					$green;
$second:					$darkGray;
$third:						$yellow;

// Link Colors
$colorLink: 			$prime;

// Content Colors
$colorText: 			$darkGray;

// Font Families
// -------------------------

// Font 1

// Font 2

// Font Sizes
// -------------------------

// Line heights
// -------------------------

// Borders
// -------------------------
$radius: .3rem; // static
$bntRadius: 3rem;

// Structure updated
// --------------------------------------------------
$mainContainer: 140rem;

// Indents updated
// --------------------------------------------------
$containerHorIndent: 11.5rem;
$containerVerIndent: 10rem

// Footer indent
// --------------------------------------------------
