// --------------------------------------------------
// Global
// --------------------------------------------------

@import "../core";

//Content
// --------------------------------------------------

.hero {
	background: $gray; // TODO:temporary, change according design
}

section {
	min-height: 45rem; // TODO:temporary, change according design
}